.contact-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    padding: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-group label {
    margin: 20px;
    color: white;
    font-size: 20px;
}

.form-group input, textarea {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(194, 79, 230);
    margin-bottom: 10px;
}

.btn-contact {
    padding: 20px;
    color: white;
    background-color: rgb(194, 79, 230);
    border-radius: 10px;
    border: none;
}